a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:active {
  background-color: var(--secondary-text-color);
  transition: background-color 0.8s;
}

.nav-bar__link,
.nav-info-bar__link {
  padding: 5px;
  font-weight: bold;
  font-size: 1.15rem;
}

.nav-bar__link:hover,
.nav-info-bar__link:hover {
  color: var(--background-color);
  background-color: var(--secondary-text-color);
  transition: background-color 0.3s;
  box-shadow: 0px 10px 14px var(--secondary-text-color);
}

/* .btn {
  cursor: pointer;
  background-color: var(--button-background-color);
  border: 1px solid var(--border-btn-color);
  border-radius: 2px;
  box-shadow: 2px 2px 2px var(--button-background-color);
  padding: 0.2rem;
}

.btn:hover {
  color: var(--background-color);
  background-color: var(--secondary-text-color);
  transition: background-color 0.3s;
  box-shadow: 0px 15px 20px var(--border-btn-color);
  transform: translateY(-3px);
} */
