/* --------FORM-------- */

.main-form {
  background-color: var(--background-main-color);
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  margin: auto;
}

.main-form > * {
  margin: 5px;
  display: block;
}

.main-form__label {
  margin: 2rem auto;
  font-size: 1.5rem;
  
}

.main-form__email {
  width: 220px;
  height: 2rem;
}

.main-form__btn {
  cursor: pointer;
  margin: 2rem auto 0;
  padding: 5px;
  border-radius: none;

} 

.main-form__btn:hover {
  color: var(--background-color);
  background-color: var(--secondary-text-color);
  transition: background-color 0.3s;
  box-shadow: 0px 10px 14px var(--secondary-text-color);
  transform: translateY(-0.1rem);
}