@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #f4ff8cf2;
  --primary-text-color: #01230d;
  --secondary-text-color: #692102;
  --primary-font: "Heebo", sans-serif;
  --secondary-font: "Heebo", sans-serif;
  --button-background-color: #01fef6d3;
  --body-font: "Roboto", sans-serif;
  --logo-font: ---
  --line-height: 1.5;
  --font-size: 16px;
}

body {
  font-family: var(--body-font);
  background-color: var(--background-color);
  font-size: var(--font-size);
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:active {
  color: var(--background-color);
  background-color: var(--secondary-text-color)
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.btn {  
  cursor: pointer;
  background-color: var(--button-background-color);
  border: 1px solid rgba(0, 0, 255, 0.508);
  border-radius: 2px;
  box-shadow: 2px 2px 2px var(--button-background-color);
  padding: 0.2rem;
}

.btn:hover {
  color: var(--background-color);
  background-color: var(--secondary-text-color)
}

.header,
.header-logo,
.nav-bar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* --------HEADER-------- */

.header {
  position: fixed;
  top: 0;
  width: 96%;
  margin: 0 2%;
  padding: 5px 10px;
  background-color: var(--background-color);
}

/* .header-logo {
} */

.header-logo__img {
  width: 100px;
}

.header-logo__title {
  font-size: 2.5rem;
  font-family: var(--logo-font);
  font-family:cursive;
}

/* .nav-bar__list {
} */

.nav-bar__item {
  margin: 0 1rem;
}

/* .nav-bar__link {
} */


/* --------MAIN-------- */

.main {
  margin: 10rem 2% 2rem 2%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  margin: 0.3rem;
  padding: 0.3rem;
  }

.container__title {
  text-align: center;
}

.container__item {
  padding: 0.3rem;
  }

.container-item__title {
  text-align: center;
}

/* .container-item__text {
} */

/* --------FORM-------- */

.main-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-form > * {
  margin: 5px;
}

.main-form__label {
  font-size: 1.5rem;
  font-weight: bold;
}

/* .main-form__email {
}

.main-form__btn {
} */

/* --------ADVANTAGES-------- */

.main-advantages {
  margin: 2rem auto;
}

/* .main-advantages__title {
}

.main-advantages__container {
}

.main-advantages__item {
}
*/

.main-advantages__item-title::before {
  content: url(/icons/checkmark.png);
}

/* .main-advantages__item-title {
}

.section-item__title {
}

.main-advantages__text {
} */

/* --------VIDEO-------- */

.main-video {
  padding: 2rem;
}

/* .main-video__container {
} */

.main-video__title {
  padding: 2rem;
  text-align: center;
}

/* .main-video__item {
} */

/* --------PRICING-------- */

/* .main-pricing {
} */

.main-pricing__title {
  text-align: center;
}

.main-pricing__banner {
  width: 400px;
}

.main-pricing__banner-title {
  text-align: left;
  margin: 1rem;
}

.main-pricing__banner-text {
  margin: 1rem;
}

.main-pricing__banner-btn {
  padding: 5px;
}

.main-pricing__banner-img {
  height: 200px;
  width: 220px;
}

.main-pricing__banner-icon {
  height: 30px;
}

/* --------FOOTER-------- */

.footer {
  background-color: var(--background-color);
  width: 96%;
  margin-right: 2%;
  margin-left: 2%;
  padding: 5px 10px;
  justify-content: right;
}

.nav-info-bar__list {
  display: flex;
  justify-content: right;
}

/* .nav-info-bar {
}

.nav-info-bar__list {
} */

.nav-info-bar__item {
  margin: 0.3rem;
  padding: 0.3rem;
}

/* .nav-info-bar__link {
} */

.copyright {
  display: flex;
  justify-content: right;
  margin-bottom: 1rem;
}


@media screen and (max-width : 760px) {
  .header {
    position: relative;
  }

  .header,
  .nav-bar__list {
    flex-direction: column;
    margin: 1rem;
  }

  .nav-bar__item {
    margin: 0.5rem;
  }

  .main {
    margin-top: 5%;
  }

  .container {
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 0 auto;
    /* justify-content: center; */
  }

  .container__item {
    margin: 1rem;
  }

  .main-video__item {
    width: 400px;
    height: 225px;
  }

  .footer {
    flex-direction: column;
    justify-content:center;
  }
  

  .nav-info-bar__list {
    flex-direction: column;
    align-items: center;
  }

  .copyright {
    justify-content: center;
    margin-top: 1.5rem;
  }


}